.App {
  margin: 0 50px;
  text-align: center;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: flex-start;
}

.controls > div {
  margin-left: 20px;
}

.state-path:hover {
  cursor: pointer;
  opacity: 0.6;
}
